In [1]:
#!pip install anonymizedf

Collecting anonymizedf
  Using cached anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Collecting faker
  Downloading Faker-18.4.0-py3-none-any.whl (1.7 MB)
     ---------------------------------------- 1.7/1.7 MB 9.0 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from anonymizedf) (1.5.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->anonymizedf) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas->anonymizedf) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\windows\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-18.4.0

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import warnings; warnings.filterwarnings('ignore')
import pandas as pd
from anonymizedf.anonymizedf import anonymize

# Paso 1: Lectura de datos

In [2]:
df= pd.read_csv('Datos_Microdesafio_Semana8_DE.txt',sep=';')
df.head(12)

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737
11,Canada,John white,No,Si,Si,04/01/2022,83873734

# Paso 2: Anonimizacion de columnas

In [3]:
# Preparar el dataframe
an = anonymize(df)

In [4]:
type(an)

anonymizedf.anonymizedf.anonymize

In [5]:
anonymize?

Init signature: anonymize(df)
Docstring:
Initializes a Pandas DataFrame as an anonymize object
to be used for making fake data.

Args:
    df: takes a Pandas DataFrame

Returns:
    anonymize object
File:           c:\users\david\appdata\local\programs\python\python39\lib\site-packages\anonymizedf\anonymizedf.py
Type:           type
Subclasses:

`anonymize:` Este método se utiliza para anonimizar un dataframe. El método reemplaza todos los valores de una columna dada por valores aleatorios generados por el algoritmo de hash SHA-256. Esto se hace para preservar la distribución de los datos originales. El método devuelve un nuevo dataframe con los valores originales reemplazados por valores anonimizados.

In [6]:
!pip install -q Faker

WARNING: You are using pip version 20.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\david\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [8]:
from faker import Faker
fake = Faker()

In [9]:
fake.country_code()

'JM'

In [10]:
fake.city()

'East Shawn'

In [11]:
fake.coordinate()

Decimal('-127.104466')

In [12]:
fake.company_email()

'christinemejia@blake.net'

In [13]:
fake.json()

'[{"name": "Christine Greene", "residency": "24979 Yvonne Wall Suite 948\\nEast Derrickshire, AL 49498"}, {"name": "Steven Joseph", "residency": "2087 Mcneil Field Apt. 553\\nAmyfurt, WV 03028"}, {"name": "Bradley Davis", "residency": "808 Misty Squares Apt. 795\\nAaronhaven, HI 15573"}, {"name": "Deborah Burns", "residency": "8509 Phillips Manor\\nNew Jennifer, MN 04268"}, {"name": "Corey Smith", "residency": "355 Hicks Extensions\\nPort Caseyton, WA 35460"}, {"name": "Ashley Tucker", "residency": "491 Carol Freeway Suite 108\\nJamieport, WA 53265"}, {"name": "Christina Cook", "residency": "6162 Shawn Cliff Apt. 961\\nEast Christine, GA 30030"}, {"name": "Dr. Christopher Jones", "residency": "451 Reyes Lane Suite 115\\nNew Robert, VI 22492"}, {"name": "Nicole Rogers", "residency": "11655 Jones Walk\\nGeorgechester, LA 54668"}, {"name": "Julia Ward", "residency": "313 Brandon Junctions Apt. 892\\nEast Richard, WI 85657"}]'

In [14]:
for _ in range(10):
  print(fake.name())

Mr. Todd Wilson
Jessica Smith
Eric Martinez
Wesley Thompson
Wayne Miles
Tonya Griffith
Christy Spencer
Jeffrey Kennedy
Kathy Farrell
Kevin Wu

In [15]:
fake_df = (
    an
    .fake_names("Comisionado", chaining=True)
    .fake_dates("Fecha", chaining=True)
    .fake_whole_numbers("Telefono", chaining=True)
    .show_data_frame()
)
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Geraldine Patel,1974-07-24,69123263
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Rita Leach,1977-01-14,20540086
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Mr Benjamin Potter,1971-09-02,44869846
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Dr Alan Wilson,2005-01-11,40589054
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Mr Owen Price,1976-07-28,21243071
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Miss Gillian Conway,1980-07-25,69980958
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Mr Mohammad Short,1972-12-11,18046938
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Dr Damian Cooper,1977-01-14,69162246
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Marion Lane-Parker,2022-06-30,79439981
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Miss Amy Patel,2020-08-21,79816949
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Jonathan Walker,1980-11-14,25289931
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Geoffrey Wright-Wright,1996-10-05,29466292
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Dorothy West-Phillips,1986-09-03,27284261
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Ellie Griffiths,2017-10-11,25232421
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Dr Ben Cunningham,2011-12-15,61201235

In [16]:
type(fake_df)

pandas.core.frame.DataFrame

In [17]:
fake_df.columns

Index(['Pais ', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono', 'Fake_Comisionado',
       'Fake_Fecha', 'Fake_Telefono'],
      dtype='object')

# Paso 3: Eleccion de columnas para alimentar database

In [18]:
df_final=fake_df[['Pais ','Fake_Comisionado','Reduccion_CO2','Incrmento_P','Inversion_arboles',
                  'Fake_Fecha','Fake_Telefono']]
df_final.columns=['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
                   'Inversion_arboles', 'Fecha', 'Telefono',]
df_final

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Geraldine Patel,Si,Si,Si,1974-07-24,69123263
1,Colombia,Rita Leach,No,No,Si,1977-01-14,20540086
2,Chile,Mr Benjamin Potter,Si,Si,Si,1971-09-02,44869846
3,Bolivia,Dr Alan Wilson,No,No,No,2005-01-11,40589054
4,Paraguay,Mr Owen Price,No,Si,Si,1976-07-28,21243071
5,Venezuela,Miss Gillian Conway,Si,Si,No,1980-07-25,69980958
6,Uruguay,Mr Mohammad Short,No,No,Si,1972-12-11,18046938
7,Brasil,Dr Damian Cooper,Si,Si,No,1977-01-14,69162246
8,Ecuador,Marion Lane-Parker,No,No,No,2022-06-30,79439981
9,Peru,Miss Amy Patel,No,No,No,2020-08-21,79816949
10,EEUU,Jonathan Walker,Si,Si,Si,1980-11-14,25289931
11,Canada,Geoffrey Wright-Wright,No,Si,Si,1996-10-05,29466292
12,Mexico,Dorothy West-Phillips,Si,Si,No,1986-09-03,27284261
13,Costa Rica,Ellie Griffiths,No,No,Si,2017-10-11,25232421
14,Jamaica,Dr Ben Cunningham,No,No,No,2011-12-15,61201235

In [19]:
df_final.columns

Index(['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono'],
      dtype='object')

# Paso 4: Conexion a Redshift

In [22]:
!pip install -q python-dotenv

WARNING: You are using pip version 20.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\david\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [20]:
from dotenv import load_dotenv
import os
load_dotenv() # Cargar data de archivo .env
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
port=os.getenv("DB_PORT")
data_base=os.getenv("DB")
with open("C:/Users/david/Downloads/pwd_coder.txt",'r') as f:
    pwd= f.read()

In [28]:
#!pip install -q psycopg2

WARNING: You are using pip version 20.2.3; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\users\david\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [21]:
import psycopg2

try:
    conn = psycopg2.connect(
        host=host,
        dbname=data_base,
        user=user,
        password=pwd,
        port=port
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [22]:
df_final.dtypes

Pais                 object
Comisionado          object
Reduccion_CO2        object
Incrmento_P          object
Inversion_arboles    object
Fecha                object
Telefono              int64
dtype: object

# Paso 5: Enviar tabla a la base de datos

In [23]:
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [24]:
cargar_en_redshift(conn=conn, table_name='POLITICAS_2050', dataframe=df_final)

Proceso terminado

In [25]:
t=pd.read_csv('airbnb_nyc.txt',sep=',')
t.head()

,id,name,summary,description,experiences_offered,neighborhood_overview,transit,house_rules,host_id,host_since,...,hot_tub_sauna_or_pool,internet,long_term_stays,pets_allowed,private_entrance,secure,self_check_in,smoking_allowed,accessible,event_suitable
0,2539,Clean & quiet apt home by the park,Renovated apt home in elevator building.,Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,Very close to F and G trains and Express bus i...,-The security and comfort of all our guests is...,2787,39698.0,...,-1,1,1,-1,-1,1,1,-1,1,1
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,NaN,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,none,NaN,NaN,Upon arrival please have a legibile copy of yo...,4632,39777.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
2,7750,Huge 2 BR Upper East Cental Park,NaN,Large Furnished 2BR one block to Central Park...,none,NaN,NaN,NaN,17985,39953.0,...,-1,1,-1,1,-1,-1,-1,-1,-1,-1
3,8505,Sunny Bedroom Across Prospect Park,Just renovated sun drenched bedroom in a quiet...,Just renovated sun drenched bedroom in a quiet...,none,Quiet and beautiful Windsor Terrace. The apart...,Ten minutes walk to the 15th sheet F&G train s...,- No shoes in the house - Quiet hours after 11...,25326,40006.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1
4,8700,Magnifique Suite au N de Manhattan - vue Cloitres,Suite de 20 m2 a 5 min des 2 lignes de metro a...,Suite de 20 m2 a 5 min des 2 lignes de metro a...,none,NaN,Metro 1 et A,NaN,26394,40014.0,...,-1,1,-1,-1,-1,-1,-1,-1,-1,-1

In [26]:
t.columns

Index(['id', 'name', 'summary', 'description', 'experiences_offered',
       'neighborhood_overview', 'transit', 'house_rules', 'host_id',
       'host_since', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_listings_count', 'host_identity_verified',
       'street', 'neighbourhood', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'price', 'guests_included', 'extra_people',
       'minimum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'check_in_24h', 'air_conditioning', 'high_end_electronics', 'bbq',
       'balcony', 'nature_and_views', 'bed_linen', 'breakfast', 'tv',
       'coffee_machine', 'cooking_basics', 'white_goods', 'elevator', 'gym',
       'child_friendly', 'parking', 'outdoor_space', 'host_greeting',
       'hot_tub_sauna_or_pool', 'internet', 'long_term_stays', 'pets_allowed',
       'private_entrance', 'secure', 'self_check_in', 'smoking_allowed',
       'accessible', 'event_suitable'],
      dtype='object')